{
  "editor.formatOnSave": true,
  "javascript.format.enable": true,
  "css.format.enable": true,
  "html.format.enable": true,
  "prettier.eslintIntegration": true,
  "prettier.singleQuote": true,
  "prettier.trailingComma": "es5",
  "prettier.jsxSingleQuote": true,
  "prettier.printWidth": 80,
  "prettier.tabWidth": 2,
  "prettier.semi": true
}